CTSM_REPO=https://github.com/ESCOMP/CTSM.git
CTSM_TAG=ctsm5.1.dev099

# INPUTDATA is used by tests. If you use a local folder, and start with no data, it can take some time to get the required files and it takes lots of space. It's better to mount a remove folder and point to that location.
INPUTDATA=/mnt/fram/noresm/inputdata

# [Optional] set these to your current user so it becomes owner of new files and folders handled by docker containers.
HOST_USER=root
HOST_UID=0
HOST_GID=0

# Jupyter server port. If not set, defaults to 8888.
JUPYTER_PORT=8888